@attribute [Authorize(Roles = "Receptionist, Admin")]

<AuthorizeView Roles="Admin">
    @{
        IsAdminRole = true;
    }
</AuthorizeView>
<AuthorizeView Roles="Receptionist">
    @{
        IsAdminRole = false;
    }
</AuthorizeView>

<MudDialog DefaultFocus="DefaultFocus.Element">
    <DialogContent>
        @if (VisitorModel == null && errorMessage == null)
        {
            <MudText Typo="Typo.subtitle2" Class="pa-5">Loading data...</MudText>
        }
        else if (errorMessage != null)
        {
            <ErrorDisplay ErrorMessage="@errorMessage" ResetError="HandleResetError" />
        }
        else
        {
            <EditForm Model="@VisitorModel" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard Elevation="0" Class="pa-5">
                            <MudText Typo="Typo.h6" Class="pa-3">
                                @(IsEdit ? "Edit" : "Add New") Visitor @(IsEdit ? (VisitorModel!.FirstName + " " + VisitorModel!.LastName) : "")
                            </MudText>
                            <MudCardContent>
                                @if (!IsEdit)
                                {
                                    <MudTextField Label="First name" HelperText="Length from 2 to 20 characters"
                                          @bind-Value="VisitorModel!.FirstName" For="@(() => VisitorModel!.FirstName)" />
                                    <MudTextField Label="Last name" HelperText="Length from 2 to 20 characters"
                                          @bind-Value="VisitorModel!.LastName" For="@(() => VisitorModel!.LastName)" />
                                }
                                <MudTextField Label="Phone Number" Class="mt-3" HelperText="Start with '+' and enter the full number"
                                          @bind-Value="VisitorModel!.PhoneNumber" For="@(() => VisitorModel!.PhoneNumber)" />
                                <MudTextField Label="Email" Class="mt-3" HelperText="Optional" Disabled="@IsEdit"
                                          @bind-Value="VisitorModel!.Email" For="@(() => VisitorModel!.Email)" />
                                @if (IsEdit)
                                {
                                    <MudSelect T="bool" Label="Active" Margin="Margin.Dense" Dense="true"
                                       Variant="Variant.Outlined" Class="mt-3"
                                       @bind-Value="VisitorModel!.IsActive" For="@(() => VisitorModel!.IsActive)">
                                        <MudSelectItem Value="@(true)">Yes</MudSelectItem>
                                        <MudSelectItem Value="@(false)">No</MudSelectItem>
                                    </MudSelect>
                                }
                                else
                                {
                                    <MudText>Choose abonnement type and duration</MudText>
                                    <div class="d-flex">
                                        <MudSelect T="string" Label="Name" Margin="Margin.Dense" Dense="true"
                                           Variant="Variant.Outlined" Class="mt-3 me-3"
                                           @bind-Value="AbonnementName">
                                            @foreach (var item in DurationByName.Keys)
                                            {
                                                <MudSelectItem Value="@item">@item</MudSelectItem>
                                            }
                                        </MudSelect>
                                        <MudSelect T="AbonnementDuration" Label="Duration" Margin="Margin.Dense" Dense="true"
                                           Variant="Variant.Outlined" Class="mt-3 me-3" SelectedValuesChanged="GetAbonnementPrice"
                                           @bind-Value="AbonnementDuration">
                                            @foreach (AbonnementDuration item in DurationByName[AbonnementName])
                                            {
                                                <MudSelectItem Value="@item">@((int)item) @((int)item == 1 ? "Month" : "Months")</MudSelectItem>
                                            }
                                        </MudSelect>
                                        <MudText Class="mt-5">@AbonnementPrice.ToString("C")</MudText>
                                    </div>
                                }

                                <MudDivider DividerType="DividerType.Middle" Class="mt-4" />

                            </MudCardContent>
                            <MudCardActions Class="d-flex justify-end">
                                <MudButton Variant="Variant.Filled" Color="Color.Default" Class="me-3" OnClick="HandleCancel">Cancel</MudButton>
                                @if (IsEdit == false)
                                {
                                    <MudButton Variant="Variant.Filled" Color="Color.Default" Class="me-3" OnClick="HandleFormReset">Reset</MudButton>
                                }
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@(IsEdit == true ? "Update" : "Register")</MudButton>
                                </MudCardActions>
                                <MudDivider Class="my-2" />
                                <div class="d-flex flex-column">
                                    <MudText><b>Visitor Card Number:</b> @VisitorModel!.VisitorCard!.BarCode</MudText>
                                    <MudText><b>Created by:</b> @VisitorModel!.VisitorCard!.CreatedBy.Email</MudText>
                                    <MudText><b>Created at:</b> @VisitorModel!.VisitorCard!.RegistrationDate.ToShortDateString()</MudText>
                                </div>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </EditForm>
        }
    </DialogContent>
</MudDialog>